
<ng-container [ngSwitch]="currentComponent">
	<app-toolbar 
		*ngIf="currentComponent !== 'startup' && currentComponent !== 'load'" 

		(homeEmitter)="goHome()">
		
	</app-toolbar>

	<app-main-container *ngSwitchCase="'startup'" (startFromScratch)="startFromScratch($event)"></app-main-container>
	<app-bookmarklet-loader *ngSwitchCase="'load'" (homeEmitter)="goHome()" (startFromScratch)="startFromScratch($event)"></app-bookmarklet-loader>
	<app-bookmarklet-container *ngSwitchCase="'new'" [startFromScratch]="currentComponent"></app-bookmarklet-container>
</ng-container>
