@import "/node_modules/primeicons/primeicons.css";
@import "/node_modules/primeng/resources/themes/viva-dark/theme.css";

// Mainly overrides

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  background-color: #2a313d;
  color: aliceblue;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(118, 118, 118);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #919191;
}

button {
  cursor: pointer;
}

.p-toolbar {
  border: none;
  background-color: inherit;
  padding: 0.65rem;
  flex-direction: column;
  user-select: none;
}

.p-tree {
  margin-top: 1rem;
}

.p-tree .p-tree-container .p-treenode .p-treenode-content {
  border-radius: 0;
}

input.p-inputtext {
  max-width: 15rem;
}

.p-accordion {
  border: 0;
}

.p-colorpicker-preview {
  width: 45px;
  height: 45px;
}

.p-colorpicker-panel .p-colorpicker-color {
  background: transparent url(assets/picker-bg.png) no-repeat left top;
}

.p-colorpicker-hue {
  background: url('assets/spectrum.png');
}

.p-dialog {
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  transform: scale(1);
  position: relative;
  background-color: #161d21;
  align-items: center;
  overflow: inherit;
}

.p-dialog .p-dialog-content:last-of-type {
  overflow: visible;
}



.p-tabview .p-tabview-panels {
  padding: 0;
}

.p-slider {
  position: relative;
  width: 80%;
  margin-left: 5px;
  margin-top: 15px;
}

.p-sidebar-right, .p-sidebar-left {
  width: 22rem !important;
}

.p-sidebar .p-sidebar-header{
  flex-shrink: 0;
}

.p-sidebar .p-sidebar-content {
	flex-grow: 1;
}

.p-sidebar .p-sidebar-footer {
  flex-shrink: 0;

}